In [44]:
using DataFrames
using Dates

In [2]:
include("../Params.jl")
include("../Solution.jl")
include("../LocalSearch.jl")
include("../GeneticAlgorithm.jl")

entropy (generic function with 3 methods)

In [3]:
allinstances = readdir("../../instances/");

In [4]:
allsolutions = readdir("../../solutions/");

In [5]:
length(allinstances)

136

In [6]:
length(allsolutions)

129

In [10]:
df = DataFrame(
    instance = String[], 
    finalCost = Int64[],
    populationSize = Int64[],
    maxGenerations = Int64[],
    executionTime = Float64[],
    numIndividuals = Int64[],
    finalEntropy = Float64[],
    numGenerations = Int64[],
    bestKnownCost = Int64[]
)

0×9 DataFrame

In [45]:
timenow = Dates.now()
start_datetime = Dates.format(timenow, "yyyy-mm-dd_HHMMSS")

cpu_time = 60
seed = 0
for instance_name in allinstances[1:10]
    println(instance_name)
    instance_path = "../../instances/$instance_name"
    output_path = "../../outputs/sol-$instance_name"
    params = Params(instance_path, output_path, seed, cpu_time)
    
    #Random.seed!(0)
    solGA, results = runGA(params, 5, 50)
    println("GA solution:")
    printSolution(solGA)
    println()
    
    new_tuple = (instance_name, 
        results["cost"][end], 
        results["populationSize"], 
        results["maxGenerations"],
        results["time"],
        results["numIndividuals"][end],
        results["entropy"][end],
        results["generations"],
        params.solutionCost)
    push!(df, new_tuple)
    
    
    open("../../experiments/$start_datetime.csv","a+") do csvfile
       write(csvfile,join(new_tuple,","),"\n") 
    end
end

bur26a.dat
GA solution:
Permutation=[11, 2, 16, 8, 6, 12, 14, 26, 18, 20, 19, 9, 21, 13, 15, 7, 3, 1, 5, 17, 10, 22, 25, 24, 4, 23]
Cost=5430323

bur26b.dat
GA solution:
Permutation=[4, 24, 18, 14, 13, 15, 10, 2, 17, 6, 5, 20, 1, 3, 12, 8, 21, 9, 19, 25, 11, 26, 23, 7, 16, 22]
Cost=3800724

bur26c.dat
GA solution:
Permutation=[12, 25, 23, 22, 14, 18, 24, 6, 2, 10, 3, 9, 5, 15, 7, 26, 8, 4, 1, 16, 17, 20, 13, 11, 21, 19]
Cost=140338393408

bur26d.dat
GA solution:
Permutation=[19, 2, 22, 8, 10, 4, 20, 7, 21, 25, 9, 1, 15, 3, 16, 26, 6, 12, 5, 18, 17, 11, 23, 24, 13, 14]
Cost=2880618

bur26e.dat
GA solution:
Permutation=[17, 16, 2, 22, 6, 7, 14, 18, 3, 13, 19, 5, 15, 21, 10, 20, 12, 1, 9, 8, 11, 26, 25, 23, 4, 24]
Cost=5466079

bur26f.dat
GA solution:
Permutation=[8, 23, 26, 25, 17, 4, 14, 18, 3, 13, 19, 21, 5, 15, 16, 20, 12, 1, 9, 11, 10, 2, 22, 6, 7, 24]
Cost=3817411

bur26g.dat
GA solution:
Permutation=[4, 21, 11, 18, 3, 8, 22, 17, 2, 16, 1, 12, 9, 20, 23, 6, 15, 19, 5, 26, 24, 7, 13, 14, 25, 10]
Cost=10080356

bur26h.dat
GA solution:
Permutation=[3, 7, 26, 12, 21, 25, 8, 17, 23, 16, 9, 1, 5, 18, 13, 6, 15, 19, 20, 11, 4, 22, 24, 14, 10, 2]
Cost=7051591

chr12a.dat
GA solution:
Permutation=[6, 7, 10, 12, 5, 11, 9, 2, 4, 1, 3, 8]
Cost=6816

chr12b.dat
GA solution:
Permutation=[1, 2, 4, 9, 11, 8, 5, 3, 12, 7, 6, 10]
Cost=7961

In [23]:
df

10×9 DataFrame. Omitted printing of 5 columns
│ Row │ instance   │ finalCost │ populationSize │ maxGenerations │
│     │ String     │ Int64     │ Int64          │ Int64          │
├─────┼────────────┼───────────┼────────────────┼────────────────┤
│ 1   │ bur26a.dat │ 5430291   │ 50             │ 5              │
│ 2   │ bur26b.dat │ 3801023   │ 50             │ 5              │
│ 3   │ bur26c.dat │ 2945784   │ 50             │ 5              │
│ 4   │ bur26d.dat │ 2045307   │ 50             │ 5              │
│ 5   │ bur26e.dat │ 5466607   │ 50             │ 5              │
│ 6   │ bur26f.dat │ 3817411   │ 50             │ 5              │
│ 7   │ bur26g.dat │ 10078762  │ 50             │ 5              │
│ 8   │ bur26h.dat │ 7051591   │ 50             │ 5              │
│ 9   │ chr12a.dat │ 6816      │ 50             │ 5              │
│ 10  │ chr12b.dat │ 7961      │ 50             │ 5              │

In [22]:
df[:,[1,2,9]]

10×3 DataFrame
│ Row │ instance   │ finalCost │ bestKnownCost │
│     │ String     │ Int64     │ Int64         │
├─────┼────────────┼───────────┼───────────────┤
│ 1   │ bur26a.dat │ 5430291   │ 5426670       │
│ 2   │ bur26b.dat │ 3801023   │ 3817852       │
│ 3   │ bur26c.dat │ 2945784   │ 5426795       │
│ 4   │ bur26d.dat │ 2045307   │ 3821225       │
│ 5   │ bur26e.dat │ 5466607   │ 5386879       │
│ 6   │ bur26f.dat │ 3817411   │ 3782044       │
│ 7   │ bur26g.dat │ 10078762  │ 10117172      │
│ 8   │ bur26h.dat │ 7051591   │ 7098658       │
│ 9   │ chr12a.dat │ 6816      │ 9552          │
│ 10  │ chr12b.dat │ 7961      │ 9742          │